
    <section id="projects" class="Proyects-container blur-in-expand">
      <div class="Proyects-title">
        <h2>My Projects</h2>
      </div>
      <!--Primer Proyecto-->
      <div class="Proyects-card-container">
        <div class="proyect-1 proyect-container">
          <div class="left">
            <div class="top">
              <h3 class="proyect-title">Fundación Con Todo Nuestro Folclor</h3>
              <p class="proyect-description">
                A personalized landing page for an imaginary client. Beautiful
                and minimalistic.
              </p>
            </div>
            <div class="bottom">
              <h3>Tech used</h3>
              <div class="proyect-skills">
                <div class="skill-a"></div>
                <div class="skill-b"></div>
                <div class="skill-c"></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="right">
            <a
              class="img-link"
              href="https://joanbarbosagaleano.github.io/folclore/"
              target="_blank"
              rel="noreferrer"
            >
              <div class="img-proyect-1"></div>
            </a>
            <div class="proyect-links">
                <li>
                    <a
                      class="intro-links"
                      href="https://github.com/joanbarbosagaleano/folclore"
                      target="_blank"
                      rel="noreferrer"
                    >
                    <img class="icon" src="https://drive.google.com/uc?export=download&id=1pHSbSt4HgQh9dQMtaxeiBaPV-S2b3yd-">
                    </a>
                </li>
            </div>
          </div>
        </div>
        <!--Proyecto numero2 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        <div class="proyect-2 proyect-container">
          <div class="right">
            <a
              class="img-link"
              href="https://github.com/joanbarbosagaleano/Reconocimiento-Facial"
              target="_blank"
              rel="noreferrer"
            >
              <div class="img-proyect-2"></div>
            </a>
            <div class="proyect-links">
              <a
                href="https://github.com/joanbarbosagaleano/Reconocimiento-Facial"
                target="_blank"
                rel="noreferrer"
              >
                <i class="bx bx-sm bx-globe"></i>
              </a>
              <!--link referente a github-->
              <a
                href="https://github.com/joanbarbosagaleano"
                target="_blank"
                rel="noreferrer"
              >
              <img class="icon" src="https://drive.google.com/uc?export=download&id=1pHSbSt4HgQh9dQMtaxeiBaPV-S2b3yd-">
              </a>
            </div>
          </div>
          <div class="left">
            <div class="top">
              <h3 class="proyect-title">Software Reconocimiento Facial 🔎 </h3>
              <p class="proyect-description">
                Innovative facial recognition project for entry security
              </p>
            </div>

            <div class="bottom">
              <h3>Tech used</h3>
              <div class="proyect-skills">
                <div class="skill-d"></div>
              </div>
            </div>
          </div>
        </div>
<!--Nuevos proyectos
        <div class="proyect-5 proyect-container">
          <div class="left">
            <div class="top">
              <h3 class="proyect-title"></h3>
              <p class="proyect-description">
               
              </p>
            </div>
            <div class="bottom">
              <h3>Tech used</h3>
              <div class="proyect-skills">
                <div class="skill-a"></div>
                <div class="skill-d"></div>
                <div class="skill-g"></div>
              </div>
            </div>
          </div>
          -->

        
      </div>
    </section>
