
<div id="about" class="About-container blur-in-expand">
    <div clas="About-title">
      <h2>About Me</h2>
    </div>
    <div class="About-container-2">
      <div class="About-text">
        <div class="About-image"></div>
        <h3>An enthusiast Web Developer 💻 </h3>
        <p>
          I'm an <span>industrial electronics technologist</span>👨‍💻 passionate about the world of programming. 
          As a <span>Front End developer</span>, I turn ideas into code, handling any type of challenge or problem.
          I have knowledge of databases such as <span>SQL/NoSQL</span> and can create <span >attractive, interactive, 
          useful and professional websites</span>  using.
          <span>Angular/Node.js</span> for the Frontend.<br>
          I am a focused and disciplined person, which makes me a wise choice. In my free time 
          I love playing sports, reading and playing Tiple🪕. I believe that being at peace 
          with myself is a very important aspect when it comes to working efficiently and orderly.
        </p>
      </div>
    </div>
  </div>
  