
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="http://www.mysite.com/Jquery/javascript.js">   
  <section id="home" class="intro-section blur-in-expand">
      <div class="intro-top">
        <div class="intro-title">
          <h1>Front End Developer.</h1>
          <p class="intro-p">
            Hi, I'm <span>Joan Barbosa Galeano</span>. <br />A passionate Front End
            Developer from Colombia.
          </p>
          <ul class="intro-ul">
            <li>
              <a
                class="intro-links"
                href="https://www.linkedin.com/in/joan-galeano//"
                target="_blank"
                rel="noreferrer"
              >
              <img class="icon" src="https://drive.google.com/uc?export=download&id=1AiitSG3D2_2olFHOjV0NAIGe10-3muRb"> 
              </a>
            </li>
            <li>
              <a
                class="intro-links"
                href="https://github.com/joanbarbosagaleano"
                target="_blank"
                rel="noreferrer"
              >
              <img class="icon" src="https://drive.google.com/uc?export=download&id=1pHSbSt4HgQh9dQMtaxeiBaPV-S2b3yd-">
              </a>
            </li>
          </ul>
        </div>
        <div class="intro-img">
        </div>
      </div>
      <br>
      <div class="intro-skills">
        <div>
          <h3>My Skills</h3>
        </div>
        <div class="skills">
          <div class="skill-a"></div>
          <div class="skill-b"></div>
          <div class="skill-c"></div>
          <div class="skill-d"></div>
          <div class="skill-e"></div>
          <div class="skill-f"></div>
        </div>
      </div>
    </section>
  
