<!DOCTYPE html>
<html>
<head>
  <title>Portafolio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="http://www.mysite.com/Jquery/javascript.js">
  <style>
    /* Estilos adicionales personalizados */
    /* Aquí puedes agregar tus propios estilos CSS */
  </style>
</head>
  <header class="header">
    <nav class="nav">
      <h2 class="nav-h2">JOAN</h2>
      <div id="yo" class=" hamburger">
        <ul class="nav-ul">
        
          <nav class="nav-il"> 
            
            <a>
              <li
                routerLink="intro">HOME</li>
            </a>
            
          </nav>
          <nav class="nav-il"> 
            <a>
              <li routerLink="about" >ABOUT</li>
            </a> 
            
          </nav>
          <nav class="nav-il">
            <a>
              <li routerLink="proyect" >PROJECTS</li>
            </a> 
          </nav>
          <nav class="nav-il"> 
            <a>
              <li routerLink="contact" 
                  spy={true}
                  smooth={true}
                  offset={0}
                  duration={500}>
                  CONTACT
                </li>
            </a>     
          </nav> 
        </ul>
      </div> 
    </nav>
  </header>
  <script>
    
  </script>
  <!-- Contenido de la página -->
    <body>
      <router-outlet></router-outlet>
    </body>
   
  <app-footer></app-footer>
  <!-- Scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--hace el llamado al enrutamiento--> 

</html>